
	<h1>Assignment 6</h1>
	<form>Numeric input 1: <br>
		<input type="number" id="number1" name="number1" value="0">
		<br>
		<br>
		Numeric input 2: <br>
		<input type="number" id="number2" name="number2" value="0"><br>
		<br>
		<button type="button" onclick="ajaxGet()">Submit GET</button>
		<button type="button" onclick="ajaxPost()">Submit POST</button>
		<div id="sum"></div>
	</form>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="js/index.js"></script>